<div layout="column">
  <div flex>
    <md-content layout-padding>

        <form name="userForm" ng-submit="submit(user, loginType)">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Username</label>
              <input type="text" ng-model="user.username">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input type="password" ng-model="user.password">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input type="email" ng-model="user.email">
            </md-input-container>
          </div>
          <md-button type="submit" class="md-raised md-primary">{{ loginType.toUpperCase() }}</md-button>
        </form>

        <a href="#" ng-if="loginType === 'login'" ng-click="changeLoginType('signup')">Not a registered user? Sign up!</a>
        <a href="#" ng-if="loginType === 'signup'" ng-click="changeLoginType('login')">Already a user? Log in!</a>
    </md-content>
  </div>
</div>