<div layout="column" flex>
  <md-card ng-repeat="course in hard_coded_courses">
    <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ course.name }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>{{ course.note }}</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Prioritize</md-button>
      <md-button>Checkoff</md-button>
    </md-card-actions>
  </md-card>
</div>